
# global lock and keyed
*🔐* filter=ageencrypt

*.rtf linguist-vendored
_conversations_*_raw/ linguist-vendored

*.html linguist-language=HTML
*.html linguist-detectable=true

*.tex linguist-language=Tex
*.tex linguist-detectable=true

*.json linguist-language=JSON
*.json linguist-detectable=true

*.md linguist-language=Markdown
*.md linguist-detectable=true

*.txt linguist-language=Text
*.txt linguist-detectable=true

*.pdf linguist-language=PDF
*.pdf linguist-detectable=true
