# system file, default noignore
.DS_Store
~*
*.swp

# local, locked, untracked
*🔒*
# local, locked, tracked
#*🔐*

# genpeace.trie policy, no submodules
**/.git/
**/.gitignore

# wpc_⧝:
# ps_⬡
# pb_⌬
# pp_⏣
venv
