
# global lock and keyed
*🔐* filter=ageencrypt

*.rtf linguist-vendored
*.html linguist-vendored
*.tex linguist-vendored

*.json linguist-language=Json
*.md linguist-language=Markdown
*.txt linguist-language=Text
*.pdf linguist-language=PDF
